.btn_hs {
  @extend %flexRowNowrapSB;
  justify-content: flex-end;

  height: 65px;
  padding-left: 0;
  padding-right: 8px;
  border-radius: 1000px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  white-space: nowrap;
  width: 100%;
  max-width: 239px;
  &:hover {
    opacity: 1;
    background: linear-gradient(135deg, #9300ce 0%, #2c03a5 100%);
    animation: hueShift 6s linear infinite;
    color: white !important;
  }

  p {
    margin-bottom: 0 !important;
    margin-left: 20px;
    text-align: center;
    width: 100%;
    // padding-left: 6px ;
  }
  img {
    width: 51px;
    height: 51px;
  }
  &.white {
    background-color: white;
    color: black;
  }
  &.transporent {
    background-color: rgba(0, 0, 0, 0.1);
    @extend %bgBlur;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  &.down {
    border: none;
  }
  &.leave_request {
    background: linear-gradient(135deg, #9300ce 0%, #2c03a5 100%);
    color: white;
    font-weight: 500;
    max-width: 230px;
    &.write_whatsap {
      max-width: 290px;
    }

    &:hover {
      animation: hueShift 6s linear infinite;
    }
  }
  &.footer {
    width: 208px;
    height: 56px;
    font-size: 12px;
    padding-right: 6px;
    img {
      width: 44px;
    }
    p {
      margin-left: 20px;
    }
  }
  &.just_img {
    width: fit-content;
    height: auto;
    padding: 0;
    background: transparent;
    @include mobile {
      display: none;
    }
  }
  @include desktop(1600) {
    height: 50px;
    max-width: 200px;
    padding-right: 6px;
    font-size: 13px;
    img {
      width: 38px;
    }
    &.leave_request {
      max-width: 190px;
      &.write_whatsap {
        max-width: 240px;
      }
    }
    &.footer {
      width: 170px;
      height: 41px;
      font-size: 10px;
      padding-right: 5px;
      img {
        width: 33px;
      }
    }
  }

  @include desktop(1200) {
    height: 40px;
    max-width: 170px;
    padding-right: 4px;
    font-size: 11px;
    img {
      width: 32px;
    }
    &.leave_request {
      max-width: 160px;
      &.write_whatsap {
        max-width: 210px;
      }
    }
    &.footer {
      width: 140px;
      height: 34px;
      font-size: 10px;
      padding-right: 4px;
      img {
        width: 26px;
      }
    }
  }
  @include mobile {
    height: 56px;
    img {
      width: 45px;
    }
    &.leave_request {
      height: 65px;
      img {
        width: 51px;
      }
    }
    p {
      margin-left: 20px;
    }
    &.mobile_full_width {
      width: 100%;
      max-width: 100%;
      justify-content: flex-end;
      gap: 0;
      p {
        width: 100%;
        margin: 0;
        margin-left: 51px;
      }
    }
  }
  @include mobile(420) {
    min-width: 195px;
  }
}

@keyframes hueShift {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(180deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.whatsap_buttom {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  img {
    width: 50px;
  }
  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
  transition: opacity 0.3s ease;
  @include desktop(1600) {
    img {
      width: 40px;
    }
  }
  @include desktop(1200) {
    img {
      width: 30px;
    }
  }
  @include mobile {
    img {
      width: 50px;
    }
    bottom: 20px;
    right: 20px;
  }
}
