.rating_block {
  position: relative;
  width: 137px;
  height: 19px;
  img {
    width: 137px;
    height: 19px;
    &.unactive_rate_stars {
      position: absolute;
      left: 0;
      right: 0;
      opacity: 0.2;
    }
  }
  .wrap_stars_active {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
  }
  @include desktop(1400) {
    width: 110px;
    height: 15px;
    img {
      width: 110px;
      height: 15px;
    }
  }
  @include desktop(1200) {
    width: 88px;
    height: 12px;
    img {
      width: 88px;
      height: 12px;
    }
  }
  @include mobile(410) {
    width: 110px;
    height: 15px;
    img {
      width: 110px;
      height: 15px;
    }
  }
}
